.list-cell:even {
    -fx-background-color:  #00586D;
    -fx-text-fill:  #e4e1e1;
}

.list-cell:odd {
    -fx-background-color:  #00586D;
    -fx-text-fill:  #ffffff;
}

.list-cell:filled:selected {
    -fx-background-color:  #144652;
    -fx-text-fill:  #ffffff;
}

.list-cell:filled:hover{
    -fx-background-color:  #144652;
    -fx-text-fill:  #ffffff;
    -fx-cursor: hand;
}
