/*.list-view .list-cell:even {
-fx-background-color:  #00586D;
-fx-text-fill:  #ffffff;
}
.list-view .list-cell:odd {
-fx-background-color:  #00586D;
-fx-text-fill:  #ffffff;
}
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color:  #00586D;
    -fx-text-fill:  #ffffff;
}
.list-cell { -fx-text-fill:  #00586D; }
.list-cell:odd { -fx-background-color:  #00586D; }
.list-cell:even { -fx-background-color:  #00586D; }
.list-cell:filled:hover {
    -fx-background-color:  #00586D;
    -fx-text-fill:  #ffffff;
}*/

.list-cell:even {
-fx-background-color:  #00586D;
-fx-text-fill:  #e4e1e1;
}

.list-cell:odd {
-fx-background-color:  #00586D;
-fx-text-fill:  #ffffff;
}


.list-cell:filled:selected:focused {
    -fx-background-color:  #00586D;
    -fx-text-fill:  #ffffff;
    -fx-font-weight: bold;
}

.list-cell:filled:selected {
    -fx-background-color:  #00586D;
    -fx-text-fill:  #ffffff;

}

.list-cell:filled:hover{
    -fx-background-color:  #144652;
    -fx-text-fill:  #ffffff;
    -fx-cursor: hand;
}

.list-cell:filled:selected:hover {
    -fx-background-color:  #00586D;
    -fx-text-fill:  #ffffff;
    -fx-cursor: hand;
}
